// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 43.75rem) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$color1: #FFFFFF;
$color2: #13183F;
$color3: #83869A;
$color4: #F74780;
$color5: #666CA3;
$bg-color1: linear-gradient(to bottom,#FF6F48, #F02AA6);
$bg-color2: linear-gradient(to bottom,#4851FF, #F02AA6);


// Typography

$fonts: (
  "$xsmall": 1rem,
  "$small": 1.125rem,
  "$medium1": 1.25rem,
  "$medium2": 1.5rem,
  "$medium3": 2rem,
  "$large1": 2.5rem,
  "$large2": 3.5rem,
);

// Buttons


.btn-1 {
  font-size: map-get($fonts, "$xsmall");
  line-height: 1.5;
  font-weight: 700;
  display: inline-block;
  color: $color1;
  padding: 0.75rem 1.5938rem;
  border-radius: 28px;
  @include device(tablet) {
    font-size: map-get($fonts, "$small");
    padding: 0.9063rem 2.1125rem;
  }
}


.btn-2 {
  font-size: map-get($fonts, "$small");
  line-height: 1.5;
  display: inline-block;
  color: $color1;
  padding: 0.9063rem 2.0625rem;
  border-radius: 31px;
  &:hover {
    opacity: 0.5;
  }
}
